# Dependências e pacotes
node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log
.pnpm-debug.log

# Ambiente de Desenvolvimento
.env
.env.local
.env.*.local

# Logs e Dados Temporários
logs/
*.log
coverage/

# Sistemas Operacionais
.DS_Store
Thumbs.db

# TypeScript
dist/
build/
*.tsbuildinfo

# IDEs e Editores
.vscode/
.idea/
*.code-workspace

# Ferramentas de Teste
.nyc_output/
jest-*.json

# Arquivos Binários ou Compactados
*.zip
*.rar
*.tar.gz

# Outros
*.tmp
*.swp
*.bak